################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestConsole/yourapi.json
/NoobNotFound.Sheets/bin
/NoobNotFound.Sheets/obj
